.new {
    border: 3px solid rgb(220, 202, 219);
    border-radius: 15px;
    color: rgb(220, 202, 219);
    font-size: 30px;
    text-align: center;
    position: relative;
    width: 200px;
    height: 300px;
}
.new:hover {
    background-color: rgb(220, 202, 219);
    cursor: pointer;
    color: white;
}
 .edit {
    background: #d3fffd;
    padding: 0 0.5em;
    border: 2px solid;
    border-color: #d3fffd;
    cursor: pointer;
    border-radius: 5px; 
    width: 200px;
    height: 30px;
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
 }

 .btndelete{
    background: #ffcccc;
    padding: 0 0.5em;
    border: 2px solid;
    border-color: #ffcccc;
    border-radius: 5px; 
    width: 200px;
    height: 30px;
    margin-top: 5px;
    flex-wrap: wrap;
 }


.editbtn {
    background: #ccf9ff;
    padding: 0 0.5em;
    border: 2px solid #ccf9ff;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: block;
    position: relative;
    width: 200px;
    height: 300px;
}


.action-row {
    position: absolute;
    top: calc(300px + 8px); /* matches .new height + small gap */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.manage-loans-btn {
    background: #e8d5ff;
    padding: 8px 16px;
    border: 2px solid #e8d5ff;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.manage-loans-btn:hover {
    background: #d4b3f5;
    border-color: #d4b3f5;
}