.title {
    background-color: rgb(220, 202, 219);
    padding: 30px;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.line {
    background-color: black;
    padding: 2px;
    margin-top: -21px;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
}

.books {
    display: flex;
}
.griding {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
    width: 100%;
}
.footer {
    text-align: center;
    background-color: rgb(220, 202, 219);
    padding: 20px;
    margin: auto -10px -10px -10px;
}

.bookList {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


dialog{
    width: 500px;
    height: 500px;
}


.form-detail{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
}

.save-btn{
    background: #2e8b57;
    color:white;
    display: inline-block;
    padding: 10px 20px;
    font-size:1em;
    margin-left: 220px;
    
}

input[type="text"]{
    width: 200px;
    height: 20px;
    padding: 5px;
   
   
}

input[type="number"] {
   width: 200px;
    height: 20px;
    padding: 5px;
}

.add-header{
    margin-left: 25px;
}

/* Make cards rendered inside the grid match the .new button size */
.griding .container {
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

.griding .container .bookdetails {
    /* ensure inner card fills the container and content is laid out vertically */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.griding .controls {
    width: 200px;
    height: 300px;
    box-sizing: border-box;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    gap: 10px;
}

.filter span {
    margin-right: 0;
    font-weight: 500;
    color: #333;
    font-size: 16px;
}

.filter select {
    margin-left: 0;
    padding: 8px 12px;
    padding-right: 32px;
    border: 2px solid #dcdcdc;
    border-radius: 6px;
    background-color: white;
    font-size: 14px;
  
}



.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}